<ion-header>
  <ion-toolbar>
    <ion-title>ABOUT US</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" text="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
 

  <!--about-->
  <div class="wrapper">
      <h4 class="heading">About Us </h4>
      <p class="details">
        Omi Yammi Restaurant is anAmazing Restaurant in Sahloul Sousse since 2020.
        Traditional Tunisian food 

      </p>

      <!--Get in touch-->
      <h4 class="heading">Get in touch and make a reservation
          <ion-icon name="arrow-dropdown"></ion-icon>
      </h4>
      
  </div>
  
  <ion-card>
    <img src="assets/img/banner/slide-3.jpg"/>
    <div class="card-title">Prepare The Best Dishes</div>
    <div class="card-subtitle">Come & Experience Our Best of World Class Cousine</div>
    <ion-button  color="danger" shape="round" expand="block" class="login-btn" type="submit" routerLink="/book-table">
      make a reservation
    </ion-button>
  </ion-card>
</ion-content>