<ion-header>
  <ion-toolbar>
    <ion-title>Recipes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" text="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>





<ion-card>
  <img src="assets/imagess/menu_1.jpg"/>
  
</ion-card>

<ion-card>
  <img src="assets/imagess/menu_2.jpg"/>
  
</ion-card>
<ion-card>
  <img src="assets/imagess/menu_3.jpg"/>
  
</ion-card>
<ion-card>
  <img src="assets/imagess/menu_4.jpg"/>
  
</ion-card>
<ion-card>
  <img src="assets/imagess/menu_5.jpg"/>
  
</ion-card>
<ion-card>
  <img src="assets/imagess/menu_6.jpg"/>
  
</ion-card>
<ion-card>
  <img src="assets/imagess/menu_7.jpg"/>
  
</ion-card>
<ion-card>
  <img src="assets/imagess/menu_8.jpg"/>
  
</ion-card>
<ion-card>
  <img src="assets/imagess/menu_9.jpg"/>
  
</ion-card>
<ion-card>
  <img src="assets/imagess/menu_10.jpg"/>
  
</ion-card>












</ion-content>
