<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Omi Yami
    </ion-title>
  </ion-toolbar>
</ion-header>

   <ion-content class="card-background-page">

    <ion-card>
      <img src="assets/img/banner/slide-1.jpg"/>
      <div class="card-title">Welcome To Omi Yammi</div>
      <div class="card-subtitle">We deliver good quality food with great service</div>
    </ion-card>
    
    <ion-card>
      <img src="assets/img/about/img-1.jpg"/>
      <div class="card-title">Quality Food</div>
      <div class="card-subtitle">We have the best quality of food made by our best chefs</div>
    </ion-card>

    <ion-card>
      <img src="assets/img/about/img-2.jpg"/>
      <div class="card-title">Friendly place</div>
      <div class="card-subtitle">Friendly place in the best place in Sousse</div>
    </ion-card>

    <ion-card>
      <img src="assets/img/about/img-3.jpg"/>
      <div class="card-title">Affordable price</div>
      <div class="card-subtitle">Good price</div>
    </ion-card>

    <ion-card>
      <img src="assets/img/banner/cta-bg.jpg"/>
      <div class="card-title">Prepare The Best Dishes</div>
      <div class="card-subtitle">Come & Experience Our Best of World Class Cousine</div>
      <ion-button  color="danger" shape="round" expand="block" class="login-btn" type="submit" (click)="goTocategory()">
        View Full Menu
      </ion-button>
    </ion-card>
</ion-content>

   
    
    
   <ion-footer (click)="logout()">
    <ion-toolbar color="secondary">
      <ion-title>Log out</ion-title>
    </ion-toolbar>
  </ion-footer>>
    

 




